/*Necessities*/
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, Larabie;
}

@font-face {
    font-family: Larabie;
    src: url(Larabiefont-Rg.otf);
}

html, body {
    min-height: 100vh;
}

html {
    min-height: 100%;
    background: linear-gradient(45deg, rgb(255,69,0) 25%, rgb(255,140,0));
    background-attachment: fixed;
}

body {
    min-height: 100%;
}

ul {
    padding: 0;
}

.page {
    margin: 1vh;
}
/*Necessities*/


/*Navigation*/
.nav-bar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 2vh;
    display: flex;
}

.nav-bar-title {
    background: linear-gradient(0deg, rgb(255,69,0) 25%, rgb(255,140,0) 100%);
    margin-right: auto;
    border-radius: 1vh;
    color: white;
    font-family: Larabie;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}

    .nav-bar-title a,
    .nav-buttons a,
    .footer-buttons a {
        border-radius: 1vh;
        color: white;
        text-align: center;
        font-family: Larabie;
        padding: 1rem;
        font-size: 2rem;
    }

.nav-buttons {
    list-style: none;
}

    .nav-buttons li {
        background: linear-gradient(0deg, rgb(255,69,0) 25%, rgb(255,140,0) 100%);
        display: inline-block;
        border-radius: 1vh;
        color: white;
        text-align: center;
        font-family: Larabie;
        padding: 1rem;
        font-size: 2rem;
    }

        .nav-buttons li a {
            transition: all 0.3s ease;
        }

            .nav-buttons li a:hover {
                color: black;
            }
/*Navigation*/


/*Homepage*/
.homepage-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 2vh;
}

.profile-pic {
    width: 150vh;
    max-width: 200px;
    border-radius: 50%;
}

.intro-text-h1 {
    font-size: 3rem;
    font-family: Larabie;
    color: white;
}

.intro-text-p1 {
    font-size: 2rem;
    font-family: Larabie;
    color: white;
}

.xamk-link {
    font-size: 2rem;
    font-family: Larabie;
    color: white;
    text-decoration: underline;
    transition: all 0.3s ease;
}

    .xamk-link:hover {
        color: yellow;
    }

.homepage-content-2 {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 2vh;
}

.homepage-content-text-h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: Larabie;
    color: white;
}

.homepage-content-text-p1 {
    font-size: 2rem;
    font-family: Larabie;
    color: white;
}
/*Homepage*/


/*Footer*/
.footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 2vh;
    display: flex;
}

.footer-title {
    margin-right: auto;
    color: white;
    font-family: Larabie;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.footer-buttons {
    list-style: none;
}

    .footer-buttons li {
        display: inline-block;
        border-radius: 1vh;
        color: white;
        text-align: center;
        font-family: Larabie;
        padding: 1rem;
        font-size: 2rem;
    }

        .footer-buttons li a {
            transition: all 0.3s ease;
        }

            .footer-buttons li a:hover {
                color: black;
            }

.footer-button-email {
    background: linear-gradient(180deg, rgb(180, 0, 42) 25%, rgb(114, 0, 27));
}

.footer-button-linkedin {
    background: linear-gradient(180deg, rgb(15, 73, 235) 25%, rgb(9, 53, 172));
}

.footer-button-github {
    background: linear-gradient(180deg, rgb(69, 0, 166) 25%, rgb(50, 9, 106));
}
/*Footer*/


/*About*/
.about-me-texts {
    display: grid;
}

.about-me-text-h1 {
    text-align: center;
    font-size: 2rem;
    font-family: Larabie;
    color: white;
}

.about-me-text-p1 {
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-family: Larabie;
    color: white;
}

    .about-me-text-p1 a {
        color: white;
        font-family: Larabie;
    }
/*About*/


/*Projects*/
.projects-texts {
    display: grid;
}

.projects-text-h1 {
    font-size: 2rem;
    font-family: Larabie;
    color: white;
}

.projects-text-p1 {
    padding-top: 1rem;
    font-size: 2rem;
    font-family: Larabie;
    color: white;
}

.projects-images {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

    .projects-images img {
        flex: 1;
    }

.retro-images {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 2vh;
}

.projects-videos {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    gap: 1rem;
}

.retro-video {
    width: 75%;
    height: 100%;
    border-radius: 2vh;
}
/*Projects*/


/*Contact*/
.contact-form {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 2vh;
    display: grid;
    gap: 1rem;
}

label {
    font-size: 1.7rem;
    font-family: Larabie;
    color: white;
}

input, textarea {
    width: 80%;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
/*Contact*/


/*Responsiveness*/

/* Tablet */
@media (min-width: 0px) and (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .nav-bar-title {
        margin-right: 0;
    }

    .nav-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
    }

        .nav-buttons li {
            display: block;
        }

        .nav-buttons a {
            font-size: 1.6rem;
            padding: 0.5rem 0.8rem;
        }

    .homepage-content {
        flex-direction: column;
        text-align: center;
    }

    .profile-pic {
        order: -1;
        width: 25vw;
        max-width: 400px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .footer-title {
        margin-right: 0;
    }

    .footer-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
    }

    .projects-images {
        flex-direction: column;
    }

    .retro-images {
        width: 100%;
        max-width: 600px;
        height: auto;
        border-radius: 2vh;
    }
}

/* Desktop */
@media (min-width: 769px) and (max-width: 1200px) {
    .nav-bar {
        text-align: center;
        align-items: center;
        gap: 1rem;
    }

    .nav-bar-title {
        margin-right: auto;
        text-align: center;
    }

    .projects-images {
        flex-direction: column;
    }

    .retro-images {
        width: 100%;
        max-width: 600px;
        height: auto;
        border-radius: 2vh;
    }

    .footer-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
    }
}

/* Widescreen */
@media (min-width: 1201px) {
    .projects-images {
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 1rem;
        padding: 5rem;
        border-radius: 2vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
    }

    .retro-images {
        width: 100%;
        max-width: 25vw;
        height: auto;
        border-radius: 2vh;
    }

    .retro-video {
        width: 100%;
        height: 100%;
        border-radius: 2vh;
    }
}

/*Responsiveness*/
